<% if reviews.any? %>
  <ul class="list-unstyled mt-2">
    <% reviews.each do |review| %>
      <li class="d-flex">
        <img class="rounded me-2 mb-5" src="<%= gravatar_url(review.user, { size: 64 }) %>" alt="">
        <div>
          <div>
            <%= link_to review.user.name, user_path(review.user), class: "text-decoration-none" %> <span class="text-muted">posted at <%= review.created_at %></span>
          </div>
          <div>
            <p><%= review.content %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>